:root {
    font-family: 'Figtree', sans-serif;
}

* {
    overflow: auto;
}

body {
    background: radial-gradient(circle, rgba(255,109,184,1) 0%, rgba(251,229,111,1) 100%);
    margin: 10% 20%;
}

