:root {
    font-family: 'Figtree', sans-serif;
}

* {
    /* overflow: auto; */
    color: black;
}

body {
    background: radial-gradient(circle, rgba(255,109,184,1) 0%, rgba(251,229,111,1) 100%);
    margin: 10% 20%;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    color: blanchedalmond;
}

.recipes div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes div img{
    height: auto;
    width: 350px;
    border-radius: 20px;
    transition: 1s ease;
}

.recipes div img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.recipes div a {
    padding-bottom: 15px;
}

.headline_links {
    margin-bottom: 30px;
}